html
  head
    title Burgr
    meta(charset='UTF-8')
    meta(name='description' content='Free Web tutorials')
    meta(name='keywords' content='HTML, CSS, JavaScript')
    meta(name='author' content='John Doe')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/burgr.min.css')
    script(defer src='/js/lib/jquery-3.6.0.min.js')
    script(defer src='/js/burgr.js')
  body
    include _nav
    block content