.hero__background
.hero__container
  .hero.align-right.align-sm-center.color-white
    | EAT LIKE
    br
    | A KING
    br
    button.button Order Now
  .hero
    img(src='/images/hero.png')
  .hero.align-left
    | ENJOY
    br
    | EVERY
    br
    | BITE