.nav-bar
  .nav-bar__section
    img.nav-bar__logo(src='/images/icon.png')
  .nav-bar__section
    .nav-bar__item
      img(src='/images/cart.png')
    .nav-toggle
      .nav-toggle__bar
      .nav-toggle__bar
      .nav-toggle__bar

nav.nav
  a.nav__item(href='/') HOME
  a.nav__item(href='/') ORDER
  a.nav__item(href='/') CART
  a.nav__item(href='/') ABOUT
  a.nav__item(href='/') CONTACT
  .nav__highlight